/* gives specific users custom message styling */

/* #region @backslash__ */
[data-author-username="backslash__"] .messageContent_c19a55
{
    color: #9460a9 !important;
    font-family: "Days One" !important;
}

[data-author-username="backslash__"] .username_c19a55
{
        color: #9460a9 !important;
}
/* #endregion */