/* #region : Days One */
@font-face {
    font-family: "Days One";
    src: url("https://raw.githubusercontent.com/backslash127/katcordCSS/refs/heads/main/fonts/DaysOne-Regular.ttf");

    font-weight: normal;
    font-style: normal;
}
/* #endregion */